extends layout.pug
block content
    <section id="showcase">
    <div class="container">
        <h1>9Time</h1>
        <p>Legit send me mony this is a real link!</p>
        <form action="https://www.paypal.com/cgi-bin/webscr"method="post"target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="7QFQAULRA78FE" />
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
        </form>

    </div>

    <section id="boxes">
    <div class="container">
                        
        
        <div class="box">
            <h3>Terms</h3>
            <p>We don't sell products and we have the riht to sell your inputed information.</p>

        </div>
        
        <div class="box">
            <h3> Notice </h3>                  
            <p> Its imposible to own a game, or a person so these are "inflatable" </p>
        
        </div>
        
        <div class="box">
            <h3> Legal </h3>
            <p> We don't recomend this product at all in fact its a waist of your time. We will not send you any products we do not own any of these products and we don't want your business. </p>

        </div>
                        
    </div>