body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
}

*:focus {
    outline: none;
}

.container {
    width: 80%;
    /* margin auto move it to midle*/
    margin: auto;
    /* to unstrict scroll bar if content big*/
    overflow: hidden;
}

 ul {
    margin: 0;
    padding: 0;
    list-style: none;

}
.dark {
    margin-right: 30px;
    padding: 35px;
    background:  #35424a;
    color: white;
    margin-top: 60px;
    margin-bottom: 10px;
    padding-bottom : 50px;
    border : 2px solid #1E90FF;
        
     border-radius: 10px;
     box-shadow: 20px 10px 12px 1px   #35424a ;


}

header {

    background:  #313433;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom:  3px #1E90FF solid; 
}
header a {
    color: white;
    text-decoration: none;
    text-transform:  uppercase;
    font-size: 20px;
    font-weight: bold;
}

header li {
/* float: left; */
    padding: 0 20px 0 20px;
    display: block;
    float: left;
}
header #branding {
    float: left;
}

header  h1 {
    margin: 0;
font-style: oblique;

}
header  h1:hover  {
     color: DodgerBlue;
}
    header  h1:hover  span{
     color: white;
}
header nav {
    margin-top: 10px;
    float: right;
} 

header .highlight, header .current a {
    font-weight: bold;
    color: #1E90FF;
}
header li:hover{
    background: rgba(0, 123, 157, 0.8);
    font-weight: bold;
}
#showcase {
    text-align: center;
    color: rgb(19, 19, 19);
}

#showcase h1 {
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
   
}
#showcase p {

    font-size: 20px;
}

/*boxexs stye */
#boxes {
    margin-top:  20px;

}
button:hover {
    cursor: pointer;
} 
.box {
    width: 30%;
    float:  left;
    padding: 1.5%;
    text-align: center;
}

#boxes .box img {

    width: 90px;
    height: auto;
}

footer {
    padding: 20px;
    margin-top: 0;
    background: #59605c;
    text-align: center;
    color: white;
    padding-bottom: 23px;
}


/* about */
/* Side BAR */
aside#sidebar {

    float: right;
    width: 30%;
    margin-top: 20px;
    
}
.pop  {
height: 68vh;    
}
article#main-col {
    float: left;
    width: 55%;
}

/*services */
aside#sidebar {
         margin-top:  50px;


}

ul#services li {

    list-style: none;
    padding: 20px;
    border: 1px grey solid;
    margin-bottom:  4px;
    background:  white;
    box-shadow: 2px 3px 1px grey;

    }


    aside#sidebar .quote input,    aside#sidebar .quote textarea {
    width: 90%;
    padding: 10px;
    margin-bottom:  25px;

    }

aside#sidebar button {
    width: 100%;
}


 /*    maedia uery */
 @media (max-width : 768px) {

    /*remaove float */
    header #branding, header nav, header nav li, #newsletter h1, newsletter form, #boxes .box , article#main-col, aside#sidebar{
        
    float : none;
    text-align : center;
    width:  100%;
    }
    header {
        padding-bottom:  20px;
    }
     header li {
         width : 100%;
         display : block;
     }
    #showcase h1 {
    margin-top: 40px;
        font-size: 35px;

    }
        
    #newsletter button {
        display: block;
        width: 100%;

    }

     #newsltter form input[type='email'] {
         width: 100%;
         margin-bottom: 5px;
     }
 } 

  .page-title {
        font-size: 24px;
        text-transform: uppercase;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;   
       padding-top: 30px; 
       padding-bottom: 3px; }
